<ion-header>
  <ion-toolbar>
    <ion-title>Les causes ( Diabète ) </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
        <ion-card padding>
          <ion-img src="/assets/1.jpg"></ion-img>
          <h2>Les Causes</h2>
          <p style="font-size:18px;">
              Cause de diabète Le diabète de type 2 est causé par la résistance à l'insuline et une production insuffisante de celle-ci. Comme l'organisme ne peut utiliser l'insuline aussi bien qu'il le devrait ou parce que le pancréas n'en produit pas suffisamment, le glucose ne peut être transporté à l'intérieur des cellules à partir du sang. 
          </p>
        </ion-card>
</ion-content>
