<ion-header>
  <ion-toolbar>
    <ion-title>Les causes ( Pression artérielle  ) </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding>
    <ion-img src="/assets/2.jpg"></ion-img>
    <h2>Les Causes</h2>
    <p style="font-size:18px;">
      Elle est causée par une multitude de facteurs dont les effets s'accumulent avec les années. Les principaux sont liés à l'âge, à l'hérédité (surtout pour les hommes) et aux habitudes de vie. Ainsi, l'obésité, la sédentarité, le tabagisme, l'abus d'alcool et le stress contribuent à l'hypertension artérielle.  </p>
     </ion-card>

</ion-content>
