<ion-header>
  <ion-toolbar>
    <ion-title>Les Conseils ( Diabète )</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card padding>
        <ion-img src="/assets/1.jpg"></ion-img>
        <h2>Les Conseils</h2>
        <p style="font-size:18px;">
             - 5 fruits et légumes par jour, avec un maximum de 3 fruits.<br>
             - 3 produits laitiers par jour. <br>
             - Viande / poisson /œufs 1 à 2 fois par jour. <br>
             - Limiter les quantités de matières grasses. <br>
             - Consommer suffisamment de glucides mais en les choisissant bien.       
            </p>
      </ion-card>
</ion-content>
