<ion-header>
  <ion-toolbar>
    <ion-title>Cancer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="padd">
        <ion-button expand="block" size="large" color="dark" (click)="goTocancercauses()">
            <ion-icon name="medkit"></ion-icon>
            Causes
          </ion-button>
    </div>
    
    <div class="padd">
      <ion-button expand="block" size="large" color="danger" (click)="goTocancerconsequences()">
          <ion-icon name="medkit"></ion-icon>
          Consequences
        </ion-button>
    
      </div>
      <div class="padd">
          <ion-button expand="block" size="large" color="success" (click)="goTocancerconseils()">
              <ion-icon name="medkit"></ion-icon>
              Conseils
            </ion-button>
        
      </div>
</ion-content>
