<ion-header>
  <ion-toolbar>
      <ion-nav>
          <ion-title>Les Conseils ( Cancer de poumon )</ion-title>
        </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding>
    <ion-img src="/assets/3.jpg"></ion-img>
    <h2>Les Conseils</h2>
    <p style="font-size:18px;">
      Si vous êtes atteint d’un cancer du poumon non à petites cellules, votre équipe de soins élaborera un plan de traitement juste pour vous.<br>
       Il se basera sur votre santé et des renseignements spécifiques sur le cancer. Quand votre équipe de soins décide quels traitements vous proposer pour le cancer du poumon non à petites cellules, elle prend en considération les éléments suivants : 
       <br>
       le stade du cancer la possibilité d’enlever le cancer par chirurgie votre état de santé global, dont votre fonction pulmonaire vos préférences personnelles (ce que vous voulez) On peut vous proposer l’un ou plusieurs des traitements suivants pour le cancer du poumon non à petites cellules:
        Chirurgie. ... Radiothérapie. ... Chimiothérapie. ... Chimioradiothérapie. ... Traitement ciblé ... Immunothérapie. ... Traitements endobronchiques. ... Suivi. </p>
        </ion-card>
</ion-content>
