<ion-header>
  <ion-toolbar>
    <ion-title>Les consequences ( Pression artérielle  )</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding>
    <ion-img src="/assets/2.jpg"></ion-img>
    <h2>Les consequences</h2>
    <p style="font-size:18px;">
      Si votre tension est supérieure à 14/9 au repos, au calme et ceci sur plusieurs semaines, on peut parler d’hypertension Les conséquences sont multiples et peuvent toucher différents organes : tels que : Le cerveau : l'hypertension est le plus gros facteur de risque des accidents vasculaires, que l'on appelle aussi " attaque cérébrale ". Une personne hypertendue multiplie par 10 ce risque ! Le cœur : l'hypertension augmente le risque d'infarctus du myocarde Les artères : l'hypertension les rend plus rigides Les reins : l'hypertension peut entraîner une insuffisance rénale  </p>
     </ion-card>

</ion-content>
