<ion-header>
  <ion-toolbar>
    <ion-title>
      Acceuil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" (click)="goTodiabete()">
      <ion-img src="/assets/1.jpg"></ion-img>
      <ion-card-header>
        
        <ion-card-title >Diabète</ion-card-title>
        <!-- Default -->

      </ion-card-header>
      
    </ion-card>
    <ion-card class="welcome-card" (click)="goTopression()">
      <ion-img src="/assets/2.jpg"></ion-img>
      <ion-card-header>
        
        <ion-card-title>Pression artérielle</ion-card-title>
      </ion-card-header>
      
    </ion-card>
    <ion-card class="welcome-card" (click)="goTocancer()">
      <ion-img src="/assets/3.jpg"></ion-img>
      <ion-card-header>
        
        <ion-card-title>Cancer du poumon</ion-card-title>
      </ion-card-header>
      
    </ion-card>
</ion-content>
