<ion-header>
  <ion-toolbar>
    <ion-title>Les Causes ( Cancer de poumon ) </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card padding>
        <ion-img src="/assets/3.jpg"></ion-img>
        <h2>Les Causes</h2>
        <p style="font-size:18px;">
            Plus une personne a fumé pendant longtemps et plus elle fume, plus grand est son risque de cancer du poumon. Si vous cessez de fumer avant qu'un cancer se développe, les lésions de tissu pulmonaire causées par le tabac commenceront à guérir. Le risque de cancer pour un ex-fumeur ne sera pas aussi faible que pour une personne qui n'a jamais fumé, mais il diminuera quand même avec le temps. L'usage du cigare et de la pipe entraîne presque le même degré de risque de cancer du poumon que l'usage de la cigarette.         </p>
      </ion-card>
</ion-content>
